body {
  text-align: center;
  background-color: papayawhip;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: block;
}

.jumbotron {
  background-color:orange;
  text-align: center;
  margin: auto;
  width: 100%;
}

.container {
  padding-top: 10%;
  background-image: url(https://images.pexels.com/photos/4614/woman-morning-bathrobe-bathroom.jpg?cs=srgb&dl=pexels-gratisography-4614.jpg&fm=jpg);
}