body {
  text-align: center;
  height:100vh;
  width:100vw;
  background-color:white;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  display: block;
  min-height: 100%;
  background-attachment: fixed;
  margin: 0;
}

.jumbotron {
  background-color:orange;
  text-align: center;
  margin: auto;
  width: 100%;
}